<!-- <div class="row">
    <div class="col-12">


        <div class="card">
            <div class="card-body">
                <div class="row" class="centerARow">
                    <div style="width: 213px;">
                        <h4 class="card-title">Properties</h4>
                        <h6 class="card-subtitle">Properties on the block cycle</h6>
                    </div>


                    <div class="form-group">
                        <div class="controls">

                            <select [(ngModel)]="dropDownValue" (ngModelChange)="dataChanged($event)" name="select" id="select" required class="form-control">
                                <option *ngFor="let i of blocksArray" name="i" [ngValue]="i">{{i.name}}</option>
                            </select>

                        </div>
                    </div>

                    <div class="form-group">
                        <input #myInput placeholder="Search" class="form-control" [(ngModel)]="searchQuery" />
                    </div>
                </div>

                <div class="table-responsive">
                    <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list footable" data-page-size="5">
                        <thead>
                            <tr>
                                <th>Property</th>
                                <th>Pest</th>
                                <th>Comments</th>
                                <th>Next Inspection</th>
                                <th>Inspections</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr   class="footable-even" *ngFor="let i of propertyInfo| search:searchQuery;">
                                <td>{{i.address}}</td>
                                <td></td>

                                <td>{{i.comments}}</td>

                                <td>
                                    {{i.nextInspectionDate | date: 'dd/MM/yyyy'}}
                                </td>


                                <td>
                                    {{i.inspections}}
                                </td>
                                <td>
                                    {{i.statusId}}
                                </td>

                            </tr>
                        </tbody>

                        <tfoot>
                            <tr>
                                <label class="form-inline">Show
                                    <select id="demo-show-entries" class="form-control input-sm">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                    </select> entries </label>
                                <td colspan="7">
                                    <div class="text-right">
                                        <ul class="pagination"> </ul>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                   
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="card">
    <div class="card-body">

        <div class="row" class="centerARow">
            <div style="width: 213px;">
                <h4 class="card-title">Properties</h4>
                <h6 class="card-subtitle">Properties on the block cycle</h6>
            </div>


            <div class="form-group">
                <div class="controls">

                    <select [(ngModel)]="dropDownValue" (ngModelChange)="dataChanged($event)" name="select" id="select" required class="form-control">
                        <option *ngFor="let i of blocksArray" name="i" [ngValue]="i">{{i.name}}</option>
                    </select>

                </div>
            </div>

            <div class="form-group">
                <input #myInput placeholder="Search" class="form-control" [(ngModel)]="searchQuery" (ngModelChange)="searchQueryMethod()"/>
            </div>
        </div>


        <table id="demo-foo-pagination" class="table m-b-0 toggle-arrow-tiny footable" data-page-size="10">
            <thead>
                <tr>


                    <th>Property</th>
                    <th>Pest</th>
                    <th>Comments</th>
                    <th>Next Inspection</th>
                    <th>AM / PM</th>
                    <th>Inspections</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>


                <tr class="footable-even" *ngFor="let i of propertyInfo| search:searchQuery; let Index = index">
                    <td>{{i.address}}</td>
                    <td></td>

                    <td>{{i.comments}}</td>

                    <td>
                        {{i.nextInspectionDate | date: 'dd/MM/yyyy'}}

                        <!-- <div class="input-group" style="width:170px">
                            <input type="text" name="i" [(ngModel)]="i.assignDate" class="form-control complex-colorpicker" [attr.id]="'example' + Index"
                                placeholder="DD/MM/YYYY" (click)="dateInputSelection(Index)">
                            <span class="input-group-addon">
                                <i class="icon-calender"></i>
                            </span>
                        </div> -->
                    </td>

                    <td>
                        {{i.amPm}}
                    </td>

                    <td>
                        {{i.inspections}}
                    </td>
                    <td>
                        {{i.statusId}}
                    </td>
                    <td>
                        <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#add-contact">Edit</button>
                    </td>
                </tr>
                <div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h4 class="modal-title" id="myModalLabel" style="position: relative;right: 39%;">Add Blocks</h4>
  
                        </div>
                        <form class="form">
                            <div class="modal-body">

                            <!-- Am / Pm -->
                            <div class="form-group row">
                                <label for="editPropertyAmPm" class="col-2 col-form-label">Slot</label>
                                <div class="col-10">
                                    <select class="custom-select col-12" id="editPropertyAmPm">
                                        <option selected="">Choose...</option>
                                        <option value="AM">AM</option>
                                        <option value="PM">PM</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Next Inspection Date -->
                            <div class="form-group row">
                                <label for="editPropertyNextInspectionDate" class="col-2 col-form-label">Next Inspection Date</label>
                                <div class="col-10">
                                    <select class="custom-select col-12" id="editPropertyNextInspectionDate">
                                        <option selected="">Choose...</option>
                                        <option value="01/06/2018">01/06/2018</option>
                                        <option value="15/06/2018">15/06/2018</option>
                                        <option value="29/06/2018">29/06/2018</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Status -->
                            <div class="form-group row">
                                <label for="editPropertyStatus" class="col-2 col-form-label">Status</label>
                                <div class="col-10">
                                    <select class="custom-select col-12" id="editPropertyStatus">
                                        <option value="In Progress">In Progress</option>
                                        <option value="Complete">Complete</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Comments -->
                            <div class="form-group">
                                <label>Comments</label>
                                <textarea class="form-control" rows="5" id="editPropertyComments"></textarea>
                            </div>


                            <div class="form-group">
                                <!-- Am / Pm -->
                                <div class="controls">
                                <!-- <select [(ngModel)]="dropDownValue" name="select" id="select" required class="form-control">
                                    <option *ngFor="let i of blocksList" name="i" [ngValue]="i">{{i.name}}</option>
                                </select> -->

                                <!-- <div>
                                    <mat-form-field>
                                        <mat-select [(ngModel)]="dropDownValue" name="select" id="select" required class="form-control">
                                            <mat-option *ngFor="let i of blocksList" name="i" [value]="i">
                                                {{ i.name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div> -->
                                </div>
                            </div>

                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-info waves-effect" data-dismiss="modal" (click)="save()">Save</button>
                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
            </tbody>
            <tfoot>
                <tr>

                    <!-- <label class="form-inline">Show
                        <select [(ngModel)]="pop" (ngModelChange)="dropDownSize($event)" id="demo-show-entries" class="form-control input-sm">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                        </select> entries </label> -->

                    <td colspan="5">
                        <div class="text-right">
                            <ul class="pagination pagination-split m-t-30"> </ul>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>